<div>
  <div ng-controller="ScripController as scripCtrl">
    <div class="ui grid">
      <div class="sixteen wide aligned center column" opt-kind ok-key="filter">
        <button ok-sel="[tags*='gas']">Gas</button>
        <button ok-sel="[tags*='groceries']">Groceries</button>
        <button ok-sel="[tags*='travel']">Travel</button>
        <button ok-sel="[tags*='local']">Local</button>
        <button ok-sel="[tags*='fast food']">Fast Food</button>
        <button ok-sel="[tags*='restaurant']">Restaurants</button>
        <button ok-sel="[tags*='clothing']">Clothing</button>
        <button ok-sel="[tags*='shoes']">Shoes</button>
        <button ok-sel="[tags*='home goods']">Home Goods</button>
        <button ok-sel="[tags*='sports']">Sports</button>
        <button ok-sel="[tags*='entertainment']">Entertainment</button>
        <button ok-sel="[tags*='kids']">Kids</button>
        <button ok-sel="[tags*='online']">Online</button>
        <!--<button ok-sel="local">Local</button>-->
        <button ok-sel="*">All</button>
        <div class="ui huge icon input search">
          <input type="text" ng-model="searchCriteria"  ng-keypress="searchCards($event)" placeholder="Search for anything..." opt-kind ok-key="filter">
          <i class="circular search icon" ng-keypress="searchCards($event)" ok-sel="#{{searchCriteria}}, [tags*='{{searchCriteria}}']"></i>
        </div>
        <i class="cart huge link icon" ng-click="baseCtrl.viewCart()"></i>
      </div>
    </div>

    <div class="ui medium images centered ng-cloak" isotope-container ng-cloak >
      Should say something {{enteredSearchCriteria}}
      <a id='{{giftcard.key}}' href='/#/cards/{{giftcard.key}}' tags="{{giftcard.tags}}" ng-repeat="giftcard in scripCtrl.allCards() track by giftcard.key" >
        <img class='ui small image' src='{{giftcard.path}}' isotope-item>
      </a>
    </div>
  </div>
</div>