<div>
  <div ng-controller="ScripController as scripCtrl">
    <div class="ui grid">
      <div class="sixteen wide aligned center column" opt-kind ok-key="filter">
        <button ok-sel="#starbucks">Starbucks</button>
        <button ok-sel="[tags*='gas']">Gas</button>
        <button ok-sel="[tags*='local']">Local</button>
        <button ok-sel="[tags*='fast food']">Fast Food</button>
        <button ok-sel="[tags*='food']">Food</button>
        <button ok-sel="[tags*='clothing']">Clothing</button>
        <button ok-sel="[tags*='home']">Home</button>
        <button ok-sel="[tags*='groceries']">Groceries</button>
        <!--<button ok-sel="local">Local</button>-->
        <button ok-sel="*">All</button>
        <div class="ui huge icon input search">
          <input type="text" ng-model="searchCriteria"  ng-keypress="searchCards($event)" placeholder="Search for anything...">
          <i class="circular search icon" ng-click="searchCards($event)"></i>
        </div>
        <i class="cart huge link icon" ng-click="baseCtrl.viewCart()"></i>
      </div>
    </div>

    <div class="ui medium images centered ng-cloak" isotope-container ng-cloak >
      <!--<gcard ng-repeat="giftcard in scripCtrl.allCards() | filter:searchCriteria" isotope-item>-->

      <!--</gcard>-->
      <!--<gcard ng-repeat="giftcard in scripCtrl.allCards() | filter:enteredSearchCriteria" isotope-item>-->
      <a id='{{giftcard.key}}' href='/#/cards/{{giftcard.key}}' tags="{{giftcard.tags}}" ng-repeat="giftcard in scripCtrl.allCards() track by giftcard.key| filter:enteredSearchCriteria" >
        <img class='ui small image' src='{{giftcard.path}}' isotope-item>
      </a>
      <!--<h2 class='imgText' >{{giftcard.percentage}}%</h2>-->
      <!--<p ng-class='instructionClass' ng-mouseover='hoverGiftCard()' ng-mouseleave='exitGiftCard()' ng-click='viewCard()'>-->
      <!--</gcard>-->
    </div>
  </div>
</div>