<div>
  <div class="ui horizontal divider">
    <i class="circular down icon"></i>
  </div>

  <h1 class="ui aligned center header">{{card.name}}</h1>
  <div class="ui two column page grid">
    <div class="column">
      <div class="row">
        <img class='ui huge image' src='{{card.path}}'>
      </div>
    </div>
    <div class="column">
      <div class="ui vertical buttons">
          <div class="ui labeled animated green icon button" ng-repeat="cardValue in card.values">
            <i class="cart icon"></i>
            <a class="visible content" ng-click="addToCart(card, cardValue)">${{cardValue}} Gift Card</a>
            <a class="hidden content" ng-click="addToCart(card, cardValue)">Add to Cart</a>
          </div>
          <a class="ui labeled icon button" href="#/home">
            <i class="left arrow icon"></i>
            Done
          </a>
      </div>

    </div>
  </div>
</div>