<div class="menuPadding"></div>
<div class="menuPadding"></div>
<div>
  <div class="orderreview">
    <div class="ui grid">
      <div class="row">
        <h2>Cart</h2>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui divided vertical list">
            <div ng-repeat="cartItem in itemsInCart" class="item">
              <img class="ui medium image" src="{{cartItem.path}}" alt="{{cartItem.name}}">
              <div class="content">
                <p>{{cartItem.name}} ${{cartItem.value}} Gift Card</p>
              </div>
              <div class="right floated ui button" ng-click="removeItem(cartItem)">
                Remove
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve wide column"></div>
        <div class="four right aligned wide column">
          <div class="ui right green button">
            <a class="coolLink" href="#/review">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>