<div>
  <div class="ui horizontal divider">
    <i class="circular down icon"></i>
  </div>
  <div class="centermargins">

    <div class="ui three large steps">
      <div class="ui centerAlignedStep step">
        Order Options
      </div>
      <div class="ui centerAlignedStep step">
        Order Review
      </div>
      <div class="ui centerAlignedStep active step">
        Order Complete
      </div>
    </div>

  <h2 class="ui center aligned fluid header">Order Confirmation
    <div class="sub header">Your order has been placed</div>
  </h2>
  <div class="orderreview">
    <div class="ui grid">
      <div class="row">
        <div class="fluid center aligned column">
          Confirmation Number:<h4 class="ui medium header">{{confirmationNumber}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="fluid center aligned column">
          Typically, orders are available the following Sunday after Mass.
          <div class="ui medium header">As always, please feel free to send any questions to snapscrip@gmail.com</div>
          <p>Popular giftcards are kept stock and are available for pickup / delivery.  These include</p>
          <ul>
            <li>Dierbergs</li>
            <li>Shop N Save</li>
            <li>Save A Lot</li>
            <li>UGas / 76 / Phillips / Connoco</li>
            <li>BP / Amoco</li>
            <li>Mobil</li>
            <li>Shell</li>
            <li>Walgreens</li>
            <li>Target</li>
            <li>WalMart</li>
            <li>Bath and Body Works</li>
            <li>Best Buy</li>
            <li>Blockbuster</li>
            <li>Gap</li>
            <li>Old Navy</li>
            <li>Home Depot</li>
            <li>JC Penny</li>
            <li>K Mart</li>
            <li>Kohls</li>
            <li>Lowe's</li>
            <li>Macy's</li>
            <li>Payless Shoes</li>
            <li>Shoe Carnival</li>
            <li>Applebees</li>
            <li>Biggies Restaurant</li>
            <li>Bob Evans</li>
            <li>Burger King</li>
            <li>Cheesecake Factory</li>
            <li>Chevys Fresh Mex</li>
            <li>Chris' / Bartolinos</li>
            <li>Cracker Barrel</li>
            <li>Domino's Pizza</li>
            <li>Favazza's</li>
            <li>Hardees</li>
            <li>Jack in the Box</li>
            <li>KFC</li>
            <li>LeGrand's</li>
            <li>Matthews Kitchen</li>
            <li>Noodles And Company</li>
            <li>Olive Garden</li>
            <li>Papa John's</li>
            <li>Pietro's</li>
            <li>Pizza Hut</li>
            <li>Qdoba</li>
            <li>St. Louis Bread Co</li>
            <li>Starbucks</li>
            <li>Steak N Shake</li>
            <li>Subway</li>
            <li>Taco Bell</li>
            <li>Wendy's</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="fluid center aligned column">
          Thank You
        </div>
      </div>
      <!--<div class="row">-->
        <!--<div class="fluid center aligned column">-->
          <!--<div class="left attached ui labeled green button" ng-if="">-->
            <!--<i class="download icon"></i>-->
            <!--<a ng-click="downloadCurrent()">Click here to Download</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div id="pdfViewer" class="centermargins">
  </div>
</div>
</div>