<div>
  <div class="ui horizontal divider">
    <i class="circular down icon"></i>
  </div>
  <div class="centermargins">

    <div class="ui three large steps">
      <div class="ui centerAlignedStep step">
        Order Options
      </div>
      <div class="ui centerAlignedStep step">
        Order Review
      </div>
      <div class="ui centerAlignedStep active step">
        Order Complete
      </div>
    </div>

  <h2 class="ui center aligned fluid header">Order Confirmation
    <div class="sub header">Your order has been placed</div>
  </h2>
  <div class="orderreview">
    <div class="ui grid">
      <div class="row">
        <div class="fluid center aligned column">
          Confirmation Number:<h4 class="ui medium header">{{confirmationNumber}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="fluid center aligned column">
          Your order will be avialable for pickup after
          <h4 class="ui medium header">March 16th, 2014</h4>
          <p>(Please turn in the form below with payment to complete your order)</p>
        </div>
      </div>
      <div class="row">
        <div class="fluid center aligned column">
          Thank You
        </div>
      </div>
      <!--<div class="row">-->
        <!--<div class="fluid center aligned column">-->
          <!--<div class="left attached ui labeled green button" ng-if="">-->
            <!--<i class="download icon"></i>-->
            <!--<a ng-click="downloadCurrent()">Click here to Download</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div id="pdfViewer" class="centermargins">
  </div>
</div>
</div>