<div>
  <div class="ui horizontal divider">
    <i class="circular down icon"></i>
  </div>
  <div class="centermargins">

    <div class="ui four large steps">
      <div class="ui step">
        Order Options
      </div>
      <div class="ui step">
        Order Review
      </div>
      <div class="ui step">
        Billing
      </div>
      <div class="ui active step">
        Confirmation
      </div>
    </div>

  <h2 class="ui center aligned fluid header">Order Confirmation
    <div class="sub header">Your order has been placed</div>
  </h2>
  <div class="orderreview">
    <div class="ui grid">
      <div class="row">
        <div class="eight wide column">
          Order Confirmation Number:<h4 class="ui medium header">a2334</h4>
        </div>
      </div>
      <div class="row">
        <div class="fluid center aligned column">
          Your order will be avialable for pickup after
          <h4 class="ui medium header">February 18th, 2013</h4>
        </div>
      </div>
      <div class="row">
        <div class="fluid center aligned column">
          Thank You
        </div>
      </div>
    </div>
  </div>
</div>