<div>
  <div class="ui horizontal divider">
    <i class="circular down icon"></i>
  </div>
  <div class="centermargins">
    <div class="ui three large steps">
      <div class="centerAlignedStep ui step">
        Order Options
      </div>
      <div class="ui centerAlignedStep active step">
        Order Review
      </div>
      <div class="ui centerAlignedStep disabled step">
        Order Complete
      </div>
    </div>

  <h2 class="ui center aligned fluid header">Order Review
    <div class="sub header">Please take a second to ensure everything is correct</div>
  </h2>
  <div class="orderreview">
    <div class="ui divided list">
      <div class="item" ng-repeat="cartItem in allCartItems() | filter:giftCards">
        <div class="right floated label">${{cartItem.value}}</div>
        <div class="content">
          {{cartItem.name}} ${{cartItem.value}} Gift Card
        </div>
      </div>
      <div class="item" ng-repeat="cartItem in allCartItems() | filter:fees">
        <div class="right floated label">${{cartItem.value}}</div>
        <div class="content">
          {{cartItem.name}}
        </div>
      </div>
      <div class="item">
        <div class="right floated header">${{allCartItems() | valueAggregate}}</div>
        <div class="header content">
          Total
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    </div>
  </div>
</div>
<div>
<div class="ui horizontal divider">
  <i class="circular down icon"></i>
</div>
<div class="centermargins">

    <h2 class="ui center aligned fluid header">Billing
      <div class="sub header">Please share some information to help complete your order</div>
    </h2>

    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid form segment">
          <h3 class="ui header">Purchaser Information</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" type="text" ng-model="firstName">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" type="text" ng-model="lastName">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Telephone Number</label>
              <input placeholder="ex. (314) 111-111" type="tel" ng-model="phone">
            </div>
            <div class="field">
              <label>Email</label>
              <input placeholder="Email" type="email" ng-model="email">
            </div>
          </div>
          <div class="field">
              <div class="ui large center aligned fluid checkbox">
                <input type="checkbox" id="afterMassCheck" ng-model="afterMass" required>
                <label for="afterMassCheck">Pick up at Scrip Table after Mass on weekend</label>
              </div>
          </div>
          <div class="field">
            <div class="ui large center aligned fluid checkbox">
              <input type="checkbox" id="rectoryPickupCheck" ng-model="rectoryPickup" required>
              <label for="rectoryPickupCheck">Pick up at Rectory</label>
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <div class="ui large center aligned fluid checkbox">
                <input type="checkbox" id="sendHomeWithChildCheck" ng-model="sendHome" required>
                <label for="sendHomeWithChildCheck">Send home with </label>
              </div>
            </div>
            <div class="field">
              <input placeholder="Child Name" ng-model="childName">
            </div>
            <div class="field">
              <input placeholder="Homeroom" ng-model="homeroom">
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid form segment">
          <h3 class="ui header">Check Information</h3>
          <p>Please make your check payable to <span class="bold">St. Joan of Arc</span> for <span class="bold">${{allCartItems() | valueAggregate}}</span></p>
          <p>Be sure to attach you check to the completed Scrip order form</p>
          <div class="two fields">
            <div class="field">
              <label>Check Amount</label>
              <input placeholder="$" type="number" ng-model="checkAmount">
            </div>
            <div class="field">
              <label>Check Number</label>
              <input type="text" ng-model="checkNumber">
            </div>
          </div>
        </div>
        <div class="ui large center aligned fluid checkbox">
          <input type="checkbox" id="termsCheck" required>
          <label for="termsCheck">I agree to the Snap-Scrip Terms and Conditions</label>
        </div>
      </div>
    </div>

    <div class="ui grid">
      <div class="row">
        <div class="four wide left aligned column"></div>
        <div class="four wide left aligned column">
          <a class="ui left labeled icon button" href="/#/cart">
            <i class="left arrow icon"></i>
            Cancel Order
          </a>
        </div>
        <div class="four wide right aligned column" ng-click="confirmOrder()">
          <a class="ui green right labeled icon button">
            <i class="right arrow icon"></i>
            Complete Order
          </a>
        </div>
      </div>
    </div>
  </div>
</div>